/*

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)

### Accent

- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)

### Neutral

- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%)

## Typography

### Headings, Call-to-actions, Header Navigation

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400

*/

/**********
GENERAL
**********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100vw;
    padding: 65px 80px;
}

body,
nav ul li a {
    color: #07043B;
}

h1, h2, h3, h4, h5, h6,
input:not([type]), input[type="submit"] {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1, h2 {
    font-size: 40px;
    line-height: 60px;
}

input:not([type]), input[type="submit"],
.cta,
footer,
.footer-links a {
    color: #FFFFFF;
}

input:not([type]), input[type="submit"] {
    font-size: 14px;
    background-color: #2F65F8;
}

header,
.footer-links,
.cta {
    display: flex;
}

nav ul li,
.social-icons li {
    display: inline;
}

/**********
HEADER
**********/

header {
    justify-content: space-between;
    margin-bottom: 100px;
}

nav ul li {
    padding-left: 60px;
}

nav ul li a {
    text-decoration: none;
}

/**********
HERO
**********/
.hero p {
    font-size: 17px;
    letter-spacing: 0.53px;
}

/**********
PRODUCTIVE
**********/

.productive {
    background-image: url(./images/bg-curve-desktop.svg);
}

.productive a {
    color: #3DA08F;
}

.testimonial {
    font-size: 13px;
    line-height: 23px;
    background-color: #FFFFFF;
}

.quotation::before {
    content: url(./images/icon-quotes.svg);
    display: block;
}

.reviewer strong {
    font-size: 11px;
    font-weight: 700;
}



/**********
CTA
**********/
.cta {
    background-color: #575988;
    flex-direction: row;
}

.cta h2 {
    font-size: 32px;
    line-height: 48px;
}


/**********
FOOTER
**********/
footer {
    background-color: #07043B;
}

.footer-links {
    justify-content: space-around;
}

.footer-links ul {
    list-style-type: none;
}

.list-phone {
    list-style-image: url(./images/icon-phone.svg);
}

.list-email {
    list-style-image: url(./images/icon-email.svg);
}


.footer-links a {
    text-decoration: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/**********
RESPONSIVE
**********/

@media (max-width: 600px) {
    .productive {
        background-image: url(./images/bg-curve-mobile.svg);
    }
}