/*

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)

### Accent

- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)

### Neutral

- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%)

## Typography

### Headings, Call-to-actions, Header Navigation

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400

*/

/**********
GENERAL
**********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #07043B;
    font-size: 16px;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1, h2 {
    font-size: 40px;
    line-height: 60px;
}

/**********
HEADER
**********/

/**********
HERO
**********/
.hero p {
    font-size: 17px;
    letter-spacing: 0.53px;
}

/**********
PRODUCTIVE
**********/

.productive a {
    color: #3DA08F;
}

.testimonial {
    font-size: 13px;
    line-height: 23px;
}

.reviewer strong {
    font-size: 11px;
    font-weight: 700;
}

/**********
CTA
**********/

/**********
FOOTER
**********/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/**********
RESPONSIVE
**********/